/* Montserrat font importing */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--button-base-trans: rgba(29, 74, 217, 0);
	--button-base: rgba(29, 74, 217, 1);
	--button-border: rgba(29, 74, 217, 0.5);
}
html {
	font-family: "Montserrat", sans-serif;
	font-size: 11pt;
	height: 100%;
}
body {
	min-height: 100vh;
	background-color: black;
	margin: 0;
	color: white;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

.logo, .social-icon {
	pointer-events: none;
}

.header {
	text-align: center;
}

#contents {
	margin: 8pt 0;
}

#contents > * {
	display: inline;
}

#contents p {
	font-size: 90%;
	font-style: italic;
	color: #aaa;
}

.header {
	margin: 0 auto 10pt;
}

ul.link-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.link-list li {
	display: inline-block;
}

ul.link-list li a {
	display: inline-block;
	padding: 4px 8px;
	border: 1px solid var(--button-border);
	background-color: var(--button-base-trans);
	transition: 0.2s;
	color: white;
}

header ul.link-list li a {
	border-top: none;
}

ul.link-list li a:hover {
	background-color: var(--button-base);
}

ul.link-list li:not(:last-child) a {
	border-right: none;
}

ul.link-list li:first-child a {
	border-radius: 8px 0 0 8px;
}

ul.link-list li:last-child a {
	border-radius: 0 8px 8px 0;
}

header ul.link-list li:first-child a {
	border-top-left-radius: 0;
}

header ul.link-list li:last-child a {
	border-top-right-radius: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	flex-grow: 1;
}
.lower-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 6px;
}
.social-button {
	position: relative;
	height: 48px;
	width: 48px;
	background-color: var(--button-base-trans);
	border: 1px solid var(--button-border);
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	transition: 0.2s;
}
.social-button:hover {
	background-color: var(--button-base);
	cursor: pointer;
}
.social-icon {
	height: 32px;
	width: 32px;
	object-fit: contain;
	transition: 0.2s;
}
.social-button:hover .social-icon {
	filter: contrast(0%) brightness(2);
}

/* Tooltip styling */
.tooltip {
	position: absolute;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	margin-inline: auto;
	top: calc(100% + 10px);
	border-radius: 6px;
	box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
	background-color: black;
	color: white;
	line-height: 1.1;
	z-index: -10;
	padding: 6px 10px;
	width: fit-content;
	transform: translateY(-8px);
	transition: all 150ms cubic-bezier(.25, .8, .25, 1);
}
*:hover > .tooltip {
	opacity: 1;
	transform: translateY(0);
	transition-duration: 0.5s;
}
.tooltip .username {
	font-size: 110%;
	font-weight: bold;
}
.subtitle {
	font-size: 90%;
	color: grey;
}
h1, h2, h3, h4, h5 {
	margin-bottom: 0;
}
p {
	margin: 0.4em 0;
	line-height: 1.4em;
}
.fill-available {
	width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}
.collapsible-button button {
	all: inherit;
	margin: unset;
	display: inline-flex;
	align-items: center;
	gap: 3pt;
}
.collapsible-button button svg {
	height: 1em;
	width: 1em;
	fill: white;
}
.collapsible-button button[aria-expanded=true] svg {
	transform: rotate(180deg);
}
ul {
	list-style-type: square;
}